<div id="h5p-container-{{ include.id }}" style="max-width: 100%;
margin: 20px; font-size: 8px;"></div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const el = document.getElementById('h5p-container-{{ include.id }}');
        const options = {
            h5pJsonPath: '{{ include.path }}',
            frameJs: 'https://cdn.jsdelivr.net/npm/h5p-standalone@3.6.0/dist/frame.bundle.js',
            frameCss: 'https://cdn.jsdelivr.net/npm/h5p-standalone@3.6.0/dist/styles/h5p.css'
        };
        new H5PStandalone.H5P(el, options);
    });
</script>