<script src='{{ "/assets/js/vendor/lunr.min.js" | relative_url }}'></script>
<script src='{{ "/assets/js/vendor/lunr.stemmer.support.min.js" | relative_url }}'></script>

<script src='{{ "/assets/js/vendor/lunr.ar.js" | relative_url }}'></script>

<link rel="stylesheet" href="{{ '/assets/fontawesome/css/all.min.css' | relative_url }}">
<script src="https://cdn.jsdelivr.net/npm/h5p-standalone@3.6.0/dist/main.bundle.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/h5p-standalone@3.6.0/dist/styles/h5p.css">
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.counter.dev/script.js" data-id="e5bbd2e7-071e-46d0-9515-a6d611f788a2"
    data-utcoffset="1"></script>